@import url('https://fonts.googleapis.com/css2?family=Kufam&family=PT+Sans+Narrow&family=Ranchers&display=swap');

body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 74px;
	text-align: center;
	overflow: hidden;
}

p {
	font-size: 16px;
	font-family: 'Kufam', cursive;
}

a {
	font-size: 16px;
	font-family: 'Kufam', cursive;
	text-decoration: none;
	color: grey;
}

a:hover {
	color: darkgrey;
}